###########################
### PyCharm
###########################
.idea/
*.iml

###########################
### python
###########################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pyc


###########################
### venv
###########################
venv/
.env/
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt


###########################
### jupyter
###########################
.ipynb_checkpoints/


###########################
### logs
###########################
logs/
*.log

###########################
### temp
###########################
.DS_Store
Thumbs.db

###########################
### test and coverage
###########################
reports
coverage
.coverage
*.lcov
.pytest_cache/

###########################
### dotenv
###########################
.env
